.root {
  position: absolute;
  display: flex;
  padding: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  overflow: hidden;
  cursor: pointer;
}

.male {
  background: #a4ecff;
}

.male:hover {
  background: #83bccb;
}

.female {
  background: #fdaed8;
}

.female:hover {
  background: #ba6b95;
}

.isRoot {
  border-color: rgba(0, 0, 0, 0.4);
}

.isHover {
  border-color: rgba(0, 0, 0, 0.8);
}

.name,
.surname {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub {
  position: absolute;
  top: 6px;
  right: 14px;
  width: 28px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 0;
  background: #fff;
  cursor: pointer;
}

.sub.male {
  background: #fdaed8;
}

.sub.male:hover {
  background: #ba6b95;
}

.sub.female {
  background: #a4ecff;
}

.sub.female:hover {
  background: #83bccb;
}
